body{
    background-color: #6935D4
}
input{
    text-align: center;
}

.bg{
    background-color: #fff; 
    width: 97%; 
    height: 94vh; 
    transform: translateY(2%); 
    margin:0 auto;
}

.cornerButton{
    display: inline;
    color: #000;
    float: right;
    background-color: #6935D4; 
    color: #fff; 
    text-align: center; 
    font-family: Inter; 
    border-radius: 4px;
    text-decoration:none
}